agm-map {
    height: 100%; 
    width: 100%; 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    background-color: rgb(196, 175, 133);
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      /*crea una panel flotante sobre el mapa*/
      .floatItem {
        position: absolute;
        top: 10%;
        left: 5%;
        max-width: 90%;
        width: 360px;
        background: #fff;
        border-radius: 8px;
        -webkit-box-shadow: 0px 0px 17px 7px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 0px 0px 17px 7px rgba(0, 0, 0, 0.18);
        box-shadow: 0px 0px 17px 7px rgba(0, 0, 0, 0.18);
      }
      /*se establece que a un tamaño de pantalla de 800px o inferior se modificaran los atributos de la clase*/
      @media screen and (max-width: 800px) {
        .floatItem {
          position: absolute;
          top: 60%;
          right: 0;
          bottom: 0;
          left: 0;
          padding: 1rem;
          max-width: 100%;
          width: 100%;
          background: #fff;
          border-radius: 2px;
          text-align: center;
        }
      }


